*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body {
    background-color: black;

}

main {
    background-color: rgba(88, 10, 160, 0.733);
    width: 500px;
    margin: auto;
    padding: 1opx;
    box-shadow: 3px 3px 5px yellow;
}